/* ======================
      table of contents
========================= 
1- left section
2-right section ==> animation
*/

section.hero {
  margin-top: 3rem;
}

/* ==================
    1-left section
==================== */
section.hero .parent-avatar.flex {
  align-items: end;
  gap: 0.6rem;
  min-height: 88px;
}
section.hero .left-section {
  flex-grow: 1;
}

section.hero .icon-verified {
  color: var(--blue);
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

section.hero .avatar {
  width: 88px;
  border-radius: 50%;
  border: 1px solid black;
  padding: 1px;
  box-shadow: 2px 2px 40px gray inset;
}

section.hero h1.title {
  font-size: 1.85rem;
  line-height: 2.3rem;
  margin: 24px 0;
  color: var(--title);
}

section.hero p.sub-title {
  color: var(--subtitle);
  font-size: 0.9rem;
  line-height: 1.65rem;
  margin-bottom: 32px;
}

section.hero .all-icons {
  gap: 1.5rem; 
}

section.hero .all-icons a {
  font-size: 1.4rem;
  color: var(--subtitle);
}

section.hero .all-icons .icon:hover {
  cursor: pointer;
  color: var(--blue);
}

/* ===============================
    2-right section ==> animation
================================== */

section.hero .animation {
  width: 100%;
  translate: 100px 55px;
}

@media (max-width: 1250px) {
  section.hero .animation {
    display: none;
  }
}
